/* javascript Class ........ */
.removeicon {
  display: none;
}
.removeimg {
  display: none;
}
.vanish {
  display: none;
}
.applyopacity {
  opacity: 0.7;
  transition: 1s;
}
.showsomething {
  display: block;
  box-sizing: border-box;
  background-color: rgba(170, 159, 159, 0.637);
  padding: 0px;
  color: white;
  border-radius: 5px;
  width: 180px;
  height: auto;
}
